.background-blue {
  background-color: rgb(32, 32, 52);
}

.background-grey {
  background-color: rgb(156, 156, 160);
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 52);
  color: white;
  max-width: 1100px;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-bar img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.cards-container img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.header-links {
  display: flex;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: auto;
}

.testimonial {
  max-width: 900px;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.cta-box {
  max-width: 1100px;
  margin: auto;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 20px;
}


